<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cursos</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<h3>Listado de Cursos</h3>
<div class="container"> 
	<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=nombreCurso&sortDir=' + ${reverseSortDir}}">Nombre</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=nombreInstructor&sortDir=' + ${reverseSortDir}}">Instructor</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">Email</a></th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="curse:${listCurses}">
				<td th:text="${curse.nombreCurso}"></td>
				<td th:text="${curse.nombreInstructor}"></td>
				<td th:text="${curse.email}"></td>
				<td>
					<a class="btn btn-primary">Actualizar</a>
					<a class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>
<!-- BOTONERA PARA MOVERME EN LAS PAGINAS -->
<div th:if="${totalPages>1}">

<div class="row col-sm-10">
	<div class="col-sm-5">Total Filas: [[${totalItems}]]</div>
	<div class="col-sm-3">
		<span th:each="i:${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage !=1}" 
				th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
				[[${i}]]</a>
				<span th:unless="${currentPage !=1}">[[${i}]]</span>
		</span>
	</div>
	<div class = "col-sm-1">
		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + 
		${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Proximo</span>
		</div>
		<div class = "col-sm-1">
		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ 
		'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Ultimo</span>
		</div>
</div> <!-- cierra el row -->

</div> <!-- cierra el if -->

</div> <!-- cierra el class=container -->
</body>
</html>